.CustomButton {
	align-items: center;
	background-color: #fee6e3;
	border: 2px solid #111;
	border-radius: 8px;
	box-sizing: border-box;
	color: #111;
	cursor: pointer;
	display: flex;
	font-family: Inter, sans-serif;
	font-size: 16px;
	height: 48px;
	justify-content: center;
	line-height: 24px;
	max-width: 100%;
	padding: 0 25px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.CustomButton:after {
	background-color: #111;
	border-radius: 8px;
	content: "";
	display: block;
	height: 48px;
	left: 0;
	width: 100%;
	position: absolute;
	top: -2px;
	transform: translate(8px, 8px);
	transition: transform .2s ease-out;
	z-index: -1;
}

.CustomButton:hover:after {
	transform: translate(0, 0);
}

.CustomButton:active {
	background-color: #ffdeda;
	outline: 0;
}

.CustomButton:hover {
	outline: 0;
}

@media (min-width: 768px) {
	.CustomButton {
		padding: 0 40px;
	}
}


:root {
	--background-color: black;
	--text-color: hsl(0, 0%, 100%);
}

.wrapper {
	display: grid;
	place-content: center;
	background-color: var(--background-color);
	min-height: 100vh;
	font-family: "Oswald", sans-serif;
	font-size: clamp(1.5rem, 1rem + 18vw, 15rem);
	font-weight: 700;
	text-transform: uppercase;
	color: var(--text-color);
}

.wrapper>div {
	grid-area: 1/1/-1/-1;
}

.top {
	clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.bottom {
	clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
	color: transparent;
	background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
	background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
	background-clip: text;
	-webkit-background-clip: text;
	transform: translateX(-0.02em);
}


@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {
	background: linear-gradient(90deg, #5D54A4, #7C78B8);
	position: relative;
	height: 600px;
	width: 360px;
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;
	height: 100%;
}

.screen__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;
	top: -50px;
	right: 120px;
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;
	top: -172px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;
	top: 420px;
	right: 50px;
	border-radius: 60px;
}

.input_field {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.input_field:active,
.input_field:focus,
.input_field:hover {
	outline: none;
	border-bottom-color: #6A679E;
}